html,body{
	width: 100%;
}
body{
	background-color: #F5F5F5;
	
}
/*框架*/
.wrap{
	width: 100%;
	height: 1000px;

}
.wrap .nav{
	width: 100%;
	height: 60px;
	padding-top: 5px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.wrap .nav .logo{
	margin-bottom: -18px;
}
.wrap .nav ul{
	display: none;
}
.wrap .nav .nav_r{
	float: right;
	margin-top: 18px;
	margin-right: 30px;
	position: relative;
	display: none;
}
.wrap .nav .nav_r .hide{
	width: 160px;
	height: 83px;
	background-image: url(../img/paopao.png);
	background-position: center;
	position: absolute;
	top: 30px;
	right: 60px;
	display: none;
}
.wrap .nav .nav_r .hide p{
	width: 140;
	height: 30px;
	padding: 0px;
	margin: 0px;
	padding-left: 30px;
}
.wrap .nav .nav_r .hide p:hover{
	background-color: #1589F5;
	color: white;
}
.wrap .nav div span{
	margin-right: 25px;
}
.wrap .nav ul li{
	display: inline-block;
	margin-right: 25px;
}
.wrap .nav ul li a{
	color: black;
}
.wrap .nav .nav_btn{
	display: block;
	float: right;
	margin-top: 18px;
	margin-right: 30px;
}
.wrap .nav .s_h{
	display: block;
	width: 100%;
	height: 400px;
	background-color: white;
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 200;
	display: none;
}
.wrap .nav .s_h ul{
	display: block;
	width: 100%;
	height: 400px;
}
.wrap .nav .s_h ul li{
	width: 100%;
	text-align: center;
	padding: 15px 0px 15px 0px;
}
.wrap .nav .s_h ul li:hover{
	background-color: #EEEEEE;
}
.wrap .nav .s_h ul li a{
	color: #1C1C1C;
}
/*内容部分*/
.wrap .content{
	width: 1000px;
	height: 350px;
	margin: 0 auto;
	margin-top: 80px;
	background-color: #00ADEE;
}
.wrap .content .up{
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	
}
.wrap .content .up:hover{
	opacity: 0.7;
}
.wrap .content div{
	display: inline-block;
}
.wrap .content .text{
	padding-left: 80px;
	position: absolute;
	top: 30px;
}
.wrap .content .text h3{
	color: white;
	font-size: 40px;
}
.wrap .content .text p{
	color: white;
	font-size: 18px;
}
/*页脚*/
.wrap .footer{
	width: 1000px;
	margin: 0 auto;
	margin-top: 760px;
}
.wrap .footer ul{
	display: inline-block;
}
.wrap .footer ul li{
	display: inline-block;
	margin-right: 20px;
}
.wrap .footer .right span{
	display: inline-block;
	width: 32px;
	height: 32px;
}
.wrap .footer .right .t1{
	background-image: url(../img/footer_logo.png);
	background-position: -32px 0px;
}
.wrap .footer .right .t2{
	background-image: url(../img/footer_logo.png);
	background-position: 0px 0px;
}
.wrap .footer .right .t3{
	background-image: url(../img/footer_logo.png);
	background-position: -96px 0px;
}
.wrap .footer .right .t4{
	background-image: url(../img/footer_logo.png);
	background-position: -64px 0px;
}
.wrap .footer .right{
	float: right !important;
}
.wrap .footer a{
	color: black;
}
.wrap .footer a:hover{
	text-decoration: underline;
}
