.dropdown-menu li a{
	display: inline-block;
	/*width: 100% !important;*/ 
}
#menu{
	width: 100% !important;
	position: fixed;
	left: 0;
	top: 60px;
}
.activenav{
	
}
body{
	height: 3000px;
}
.navbar-header{
	height: 62px;
}
#navbangzhu{
	color: black !important;
}
.nav li{
	margin-top: 15px;
	
}
#news{
	color: black;
	font-size: 15px;
}
.dropdown-toggle{
	color:black !important;
	font-size: 15px;
}
.jlt{
	width: 25px;
	height: 15px;
	display: inline-block !important;
	background-image: url(../img/index/BBgA4HW4AhuRyocAAAAASUVORK5CYII=.png);
	background-position: 25px 79px;
	margin-right: 8px;
}
.jlt1 {
	width: 25px;
	height: 15px;
	display: inline-block !important;
	background-image: url(../img/index/BBgA4HW4AhuRyocAAAAASUVORK5CYII=.png);
	background-position: 25px 64px;
	margin-right: 25px;
}
.jlt2 {
	width: 25px;
	height: 15px;
	display: inline-block !important;
	background-image: url(../img/index/BBgA4HW4AhuRyocAAAAASUVORK5CYII=.png);
	background-position: 25px 48px;
	margin-right: 3px;
}
.jlt3 {
	width: 25px;
	height: 15px;
	display: inline-block !important;
	background-image: url(../img/index/BBgA4HW4AhuRyocAAAAASUVORK5CYII=.png);
	background-position: 25px 31px;
	margin-right: 1px;
}
.jlt4{
	width: 25px;
	height: 15px;
	display: inline-block !important;
	background-image: url(../img/index/BBgA4HW4AhuRyocAAAAASUVORK5CYII=.png);
	background-position: 25px 16px;
	margin-right: 18px;
}
.language:hover{
	color: #00ADEE !important;
}

.product{
	position: absolute;
	left: 60px;
	top: 150px;
	color: white;
}
.product1{
	position: absolute;
	left: 45px;
	top: 150px;
	color: white;
}
.restive{
	position: relative;
	display: inline-block;
}
.xsxl{
	width: 100%;
	height: 200px;
	position: relative;
	/*background-color: #F8F8F8;*/	
	z-index: 9000;
}
.restive1{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	width: 496px;
	height: 80px;
	z-index: 9000;
	overflow: hidden;
	top: 50px;
	text-align: center;
}
.restive1 img{
	z-index: 9000;
	width: 484px;
	/*background-color: black;*/
	opacity: 0.5;
}
#xialazt{
	position: absolute;
	left: 30%;
	top: 37px;
	z-index: 10000;
	color: white;
}
.restive1:hover{
	background-color: rgba(0,0,0,0.9) !important;
}
.opc{
	width: 100%;
	position: absolute;
	top: 0;
	height: 200px;
	z-index: 900;
	background-color: #F8F8F8;
	opacity: 0.8;
}
.xsxl{
	position: absolute;
	top: 105px;
}
.restive2{
	position: absolute;
	top: 0px;
	
}
.xsxl1{
	position: absolute;
	top: 160px;
	width: 100%;
}
.xsxl2{
	position: absolute;
	top: 50px;
	width: 100%;
}
#menu5{
	position: fixed;
	width: 100%;
	top: 370px;
}
.restive3{
	position: absolute;
	top: 90px;
}
.restive4{
	position: absolute;
	top: 180px;
	width: 496px;
}
.restive5{
	position: fixed;
	/*top: 180px;*/
	z-index: 10001;
}
.restive2 img{
	width: 500px;
	position: relative;
	left: -30px;
	top: -10px;
}
.restive3 img{
	width: 500px;
	position: relative;
	left: -30px;
	top: -70px;
}
.restive4 img{
	width: 500px;
	position: relative;
	left: -30px;
	top: -100px;
}
.navbar-toggle{
	margin-top:20px;
	background-color: white;
	color: #00ADEE;
}
#men1{
	position: relative;
	top:-100px;
	
}


/*大图滚动*/
.swiper-container{
	overflow: hidden;
	height: 720px;
}
.top1{
	margin-top: 65px;
	/*margin-right: 30px;*/
	width: 100%;
	top: 103px;
	text-align: right;
}
.top1 img{
	margin-right: 100px;
}
.middle1{
	margin-top: 50px;
	text-align: center;
}
.middle1 img{
	width: 100%;
	max-width: 480px;
}
.shipin{
	margin: 0 auto;
	display: inline-block;
	margin-top: 20px;
	width: 150px;
	height: 36px;
	background-color: #251F20;
	border-radius: 18px 18px;
	text-align: left;
	color: white;
	line-height: 36px;
}
.shipin:hover{
	text-decoration: none;
	color: white;
}
.shipin img{
	width: 25px;
	height: 20px;
	margin-left: 20px;
}
.left h1{
	color: #00F6EA;
}
.swiper-button-prev{
	position: absolute;
	top: 280px;
	left: 0;
	width: 82px;
	height: 82px;
	background: url(../img/arrow.png);
	background-position: 0px 82px;
}
.swiper-button-next{
	position: absolute;
	top: 280px;
	right: 0;
	width: 82px;
	height: 82px;
	background: url(../img/arrow.png);
	background-position: 82px 82px;
}
.swiper-slide{
	display: inline-block !important;
}
.slide2{
	width: 100%;
	height: 100%;
	background-color: #F3F3F3;
	background-image: url(../img/index/2Q==-6.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
}
.slide3{
	margin-top: 62px;
	position: relative;
	overflow: hidden;
}
.indexfd a{
	display: block;
	width: 100%;
	height: 600px;
	background: url(../img/index/Z-1.jpg);
	background-color: rgba(0,0,0,0);
	background-size: 100%,100%;
	background-repeat: no-repeat;
	position: relative;
}

.indexfd>a:hover{
	text-decoration: none;
}
.indexfd a div{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
}
.indexfd a div:hover{
	background-color: rgba(0,0,0,0.8);
}
.indexfd a div h1{
	text-decoration: none;
	color: white;
	position: absolute;
	top: 230px;	
	width: 100%;
	/*left: 45%;*/
}
.indexfd a div h3 {
	text-decoration: none;
	color: white;
	position: absolute;
	top: 280px;	
	width: 100%;
}
.indexfd a div h3 small{
	color: white;
}
.indexfd1 a{
	background: url(../img/index/2Q==-2.jpg) !important;
	background-repeat: no-repeat !important;
	background-size: 100% !important;
}
.indexfd2 a{
	background: url(../img/index/9k=-1.jpg) !important;
	background-repeat: no-repeat !important;
	background-size: 100% !important;
}
.left{
	text-align: center;
	
}
.black{
	color: black !important;
}

hr{
	width: 80%;
	border: 1px solid black;
}
.text-center{
	text-align: center;
	position: relative;
	/*height: 50px;*/
	/*background-color: red;*/
}
.indexlogin{
	width: 100%;
	background-color: #262626;
	color: white;
	padding-top: 30px;
	padding-bottom:30px ;
}
.indexlogin div h3 small{
	color: white;
}
.text-center1{
	height: 50px;
	position: relative;
}
.text-center1 #btn{
	width: 65%;
	height: 50px;
	position: absolute;
	left: 0;
	color: black;
	border-radius: 5px 5px;
	border:0;
}
 #btn2{
	width: 30%;
	height: 50px;
	position: absolute;
	right: 0;
	font-size: 20px;
	background-color: #00ADEE;
	border: 0;
	border-radius: 5px 5px;
}
.row2{
	margin-top: 30px;
}
.abc{
	height: 100px;
	/*background-color: red;*/
	margin-top:20px ;
}
.abc a{
	color: black !important;
	font-size: 15px;
	line-height: 50px;
	margin-left: 10px;
}
.abc a:hover{
	text-decoration: none;
}
.indexbottom{
	text-align: center;
}
.span2{
	width: 10%;
	height: 48px;
	display: inline-block;
	background: url(../img/letter.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 1px;
	left: 0;
	z-index: 10;
}
.ajl a{
	margin-left: 30px;
}
.ajingling{
	display: inline-block;
	background: url(../img/footer_logo.png);
	width: 32px;
	height: 32px;
	background-position: 0px 0px;
}
.ajingling1{
	display: inline-block;
	background: url(../img/footer_logo.png);
	width: 32px;
	height: 32px;
	background-position: -32px 0px;
}
.ajingling2{
	display: inline-block;
	background: url(../img/footer_logo.png);
	width: 32px;
	height: 32px;
	background-position: -64px 0px;
}
.ajingling3{
	display: inline-block;
	background: url(../img/footer_logo.png);
	width: 32px;
	height: 32px;
	background-position: -96px 0px;
}
.ajingling4{
	display: inline-block;
	background: url(../img/footer_logo.png);
	width: 32px;
	height: 32px;
	background-position: -128px 0px;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.navbar-fixed-top{
		width: 105%;
		left: -10px;
	}
	.top1 img{
		margin-right: 0px;
	}
	.slide2{
		background: url(../img/index/banner_sdeno.png);
		background-repeat: no-repeat;
		background-size: 100% 80%!important;
		height: 720px;
		background-position: 50% 0px;
	}
	h1{
		font-weight: 400;
	}
	h2{
		font-size: 25px;
		font-weight: 400;
	}
	.div1{
		margin: 0 auto;
		/*background-color: red;*/
	}
}
@media only screen and (max-width:1200px ) {
	.indexfd a{
		background-size: 1200px,100%;
	}
	.indexfd1 a{
		background-size: 1200px,100% !important;
	}
	.indexfd2 a{
		background-size: 1200px,100% !important;
	}
	/*.slide2{
		background-size: 1200px 700px,!important;
		height: 720px;
		background-position: ;
	}*/
}
@media only screen and (min-width:640px){
.left{
	text-align: center;
	float: left;
	position: absolute;
	top: 180px;
	margin-left: 50px;
}
h1{
	font-size: 50px;
	font-weight: 400;
}
h2{
	font-size: 25px;
	font-weight: 400;
}
.black strong{
	font-size: 30px;
	font-weight:200;
	}
}

